/* body with header Tag */
h1{
    font-family: 'Bubblegum Sans', cursive;
}



h1{
    font-size: 50px;
}
.user-name{
    color: #ff5722;
}

.welcome{
    color: #6a1b9a;
}

.website{
    color: #03a9f4;
}

/*Div Added image Discription*/

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;

}


.half-width img{
    width:115%;
}